.index-container {
  margin-left: 10%;
  padding-top: 40px;
  width: 600px;
  height: 98%;
  top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(195, 222, 189);
  overflow: scroll;
  overflow-x: hidden;
}

.index-item-container {
  display: flex;
  padding-bottom: 20px;
  border-top: 1px solid rgb(182, 183, 187);
  padding-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.index-item-image-container {
  width: 33%;
  padding:11%;
  border: 1px solid black;
  position: relative;
}

.index-park-image {
  left:0;
  top:0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.index-park-image:hover {
  cursor: pointer;
}

.index-item-info-container {
  width: 33%;
  height: 100%;
  margin-left: 20px;
  padding-top: 10px;
}

.index-lower {
  display: flex;
  height: 95%;
}

.index-map {
  margin-left: 20px;
  margin-top: 100px;
  height: 430px;
  width: 430px;
  border: 1px solid black;
  position: relative;
  div:first-child {
    height: 100%;
  }
}
.index-item-address-container {
  padding-top: 20px;
  width: 30%;
  height: 100%;
  margin-left: 15px;
}

.index-name-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(20, 56, 124);
}
