.show-park-area {
  height: 1000px;
}
.show-park-container-upper {
  background: #F5F5F5;
  height: 270px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
}

.show-park-info {
  position: relative;
  width: 350px;
  height: 270px;
  left: 15%;
  top: 30px;
  background: #FFFFFF;
  border: 1px solid lightgrey;
}

.detail-upper {
  margin-top: 10px;
  margin-left: 10px;
}

.detail-lower {
  font-size: 14px;
}

.detail-name {
  font-size: 30px;
  font-weight: bold;
}

.star {
  width: 20px;
  height: 20px;
}

.detail-icon-address, .detail-icon-phone, .detail-icon-website {
  display: flex;
  margin-top: 7px;
  margin-left: 7px;
}

.fa-address-card-o {
  padding-top: 4px;
}
.detail-address1, .detail-address2 {
  margin-left: 10px;
  margin-right: 7px;
  font-weight: bold;
}

.detail-phone {
  margin-left: 17px;
  padding-top: 4px;
}

.detail-website {
  margin-left: 11px;
}
.show-park-image-container {
  position: relative;
  left: 30%;
  top: 35px;
  width: 450px;
  height: 260px;
}

.show-park-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.show-park-container-lower {
  width: 100%;
  height: 600px;
  display: flex;
}

.review-container {
  position: relative;
  width: 60%;
  height: 100%;
}

.review-index {
  margin: 80px auto;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
}

.review-index-item {
  display: flex;
  border-top: 1px solid rgb(182, 183, 187);
  padding-top: 15px;
  padding-bottom: 15px;
}

.reviews-index-title {
  color: #11931e;
  font-weight: bold;
  padding-left: 30px;
  font-size: 20px;
  margin-bottom: 5px;
}

.review-index-author-info {
  padding-left: 30px;
  margin: auto auto;
  width: 30%;
  font-weight: bold;
}

.review-index-info {
  width: 75%;
}

.show-lower-right {
  width: 46%;
  height: 100%;
  position: relative;
}

.show-map {
  margin-top: 100px;
  height: 350px;
  width: 350px;
  border: 1px solid black;
  position: relative;
  div:first-child {
    height: 100%;
  }
}

.login-to-review {
  color: #11931e;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.review-form {
  margin-top: 80px;
  height: 80%;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #11931e;
  font-weight: bold;
  display: flex;
}

.review-submit-form {
  display: flex;
  flex-direction: column;
}

.review-submit-button {
  width: 160px;
  margin: 0 auto;
  background-color: #11931e;
  border-color: rgb(10, 103, 8);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border-radius: 4px;
  color: white;
  height: 35px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.review-submit-button:hover {
  background-color: rgb(29, 168, 12);
}

.review-body {
  font-size: 20px;
  margin-top: 5px;
}

.no-reviews-message {
  margin-top: 100px;
  width: 350px;
  margin: 100px auto;
  color: #11931e;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
