.home-image {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 80%;
  background-size: contain;
  overflow: hidden;
  opacity: 0.85
}

.home-logo {
  position: absolute;
  z-index: 20;
  width: 220px;
  height: 160px;
  left:50%;
  margin-left: -110px;
  align-items: center;
}
