.welcome-header {
  background-color: #d32323;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-signup {
  display: flex;
  width: 200px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-right: 15%;
}

.login-signup a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
}

.login {
  margin-top: 10px;
}

.signup {
  border-color: white;
  border-style: solid;
  border-width: medium;
  padding: 5px 1px 5px 1px;
  border-radius: 10px;
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;
}

.login:hover {
  border-bottom: solid;
  border-color: white;
}

.signup:hover {
  background-color: white;
  color: gray;
}
