.welcome-header {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
  align-items: center;
}

.login-signup {
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-right: 100px;
  z-index: 1;
}

.login-signup a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
}

.login {
  margin-top: 10px;
  z-index: 1;
}

.signup {
  border-color: white;
  border-style: solid;
  border-width: medium;
  padding: 5px 1px 5px 1px;
  border-radius: 10px;
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.login:hover {
  border-bottom: solid;
  border-color: white;
}

.signup:hover {
  background-color: white;
  color: gray;
}

.red{
  background: red;
}
