.login-form-header {
  background-color: #d32323;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-form-container {
  position: absolute;
  top: 250px;
  left: 150px;
  width: 160px;
  height: 259px;
}
