.header {
  background-color: #11931e;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  color: white;
  position: relative;
  z-index: 1;
}

.header-left {
  width: 25%;
  height: 100%;
  margin-right: 30px;
}

.header-middle {
  // max-width: 500px;
  width: 50%;
  height: 100%;
  width: 100%;
}

.top {
  position: relative;
  bottom: 350px;
  width: 600px;
}

.header-right {
  white-space: nowrap;
  padding-top: 14px;
  width: 270px;
  height: 100%;
}

.search-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  position: relative;
  margin-left: 40px;
  width: 100px;
}

.logo:hover {
  cursor: pointer;
}

.logo.transparent {
  display: none;
}

.header-name {
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  padding-right: 25px;
}

.header-button {
  background-color: d32323;
  margin-right: 15%;
  border-color: white;
  border-style: solid;
  border-width: medium;
  padding: 5px 1px 5px 1px;
  border-radius: 10px;
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;
}

.header-button:hover {
  background-color: white;
  color: gray;
  cursor: pointer;
}

.solid {
  background-color: d32323;
}

.transparent {
  background-color: transparent;
}
