.welcome-header {
  height: 75px;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
  align-items: center;
}

.login-signup {
  font-family: 'Open Sans', sans-serif;
  margin-right: 100px;
  z-index: 1;
}

.header-right-logged-in {
  margin-right: 65px;
  font-size: 18px;
  margin-bottom: 15px;
}

.login-signup a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px;
}

.login {
  margin-top: 10px;
  z-index: 1;
}

.signup {
  border-color: white;
  border-style: solid;
  border-width: medium;
  padding: 5px 1px 5px 1px;
  border-radius: 10px;
  white-space: nowrap;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.login:hover {
  border-bottom: solid;
  border-color: white;
}

.signup:hover {
  background-color: white;
  color: gray;
}

.red {
  background: red;
}

.tag-category-buttons {
  position: absolute;
  height: 200px;
  top: 310px;
  left: 50%;
  margin-left: -300px;
  margin-top: 73px;
  justify-content: space-between;
}

.tag-category-button {
  position: relative;
  color: white;
  width: 115px;
  height: 40px;
  margin-left: 15px;
  margin-right: 15px;
  background: transparent;
  border: 2px solid white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border-radius: 7px;
  // font-weight: bold;
}


.tag-category-button:hover {
  background: white;
  color: gray;
  cursor: pointer;
}
