.index-container {
  position: relative;
  left: 10%;
  width: 50%;
  top: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

.enter-search-message {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  font-size: 26px;
  height: 130px;
  width: 330px;
  // left: 50%;
  // right: 50%;
  margin: 0 auto;
  padding-top: 28px;
  margin-top: 200px;
  background: #11931e;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  color: white;
}

.index-item-container {
  display: flex;
  padding-bottom: 20px;
  border-top: 1px solid rgb(182, 183, 187);
  padding-top: 15px;
}

.index-item-image-container {
  width: calc(37%);
  height: 150px;
  border: 1px solid black;
}

.index-item-info-container {
  width: calc(33%);
  height: 150px;
  margin-left: 20px;
  padding-top: 15px;
}


.index-item-address-container {
  padding-top: 30px;
  width: calc(30%);
  height: 150px;
  margin-left: 15px;
}

.index-name-link {
  text-decoration: none;
  font-weight: bold;
  color: rgb(20, 56, 124);
}
