.index-container {
  position: relative;
  left: 2%;
  width: 60%;
  top: 20px;
}
.index-item-container {
  display: flex;
}

.index-item-image-container {
  width: calc(38%);
  height: 200px;
}

.index-item-info-container {
  width: calc(28%);
  height: 200px;
}

.index-item-address-container {
  width: calc(34%);
  height: 200px;
}
