.index-container {
  position: relative;
  left: 12%;
  width: 70%;
}
.index-item-container {
  display: flex;
}

.index-item-image-container {
  width: calc(100%/3);
  height: 100px;
}

.index-item-info-container {
  width: calc(100%/3);
  height: 100px;
}

.index-item-address-container {
  width: calc(100%/3);
  height: 100px;
}
