.login-submit-page {
  height: 520px;
}

.login-form-header {
  background-color: #11931e;
  height: 75px;
  display: flex;
  justify-content: center;
}

.header-logo {
  width: auto;
  height: 95%;
}

.login-form-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width:700px;
  margin:0 auto;
}

.login-form-box {
  // text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.login-page-left, .login-page-right {
  width:50%;
  height:100%;
  position: relative;
  left: 50px;
}

.login-welcome {
  color: #0e7816;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 100px;
  font-size: 20px;
  padding-left: 40px;
}

.please-message {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 35px;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
}

.login-input-username, .login-input-password {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 3px;
  border: 1px solid #bbb;
}

.login-submit, .guest-submit {
  text-transform: capitalize;
  background-color: #11931e;
  border-color: rgb(10, 103, 8);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border-radius: 4px;
  width: 310px;
  color: white;
  height: 35px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 7px;
}
//
.login-submit:hover, .guest-submit:hover {
  background-color: rgb(29, 168, 12);
}

.login-signup-errors {
  list-style-type: none;
  padding-top: 10px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 3;
}

.login-signup-image {
  width: 260px;
  height: 320px;
  margin-top: 60px;
  margin-left: 20px;
}
