html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 box-sizing: border-box;
 border: 1px solid blue;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.hide {
  display: none;
}
.full-page {
  height: 900px;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #11931e; /* Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
    left: 50%;
    top: 35%;

}

.enter-search-message {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  font-size: 26px;
  height: 130px;
  width: 330px;
  margin: 0 auto;
  padding-top: 28px;
  margin-top: 200px;
  background: #11931e;
  border-radius: 50%;
  border: 2px solid black;
  text-align: center;
  color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
