.show-park-container-upper {
  background: #F5F5F5;
  height: 270px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
}

.show-park-info {
  position: relative;
  width: 350px;
  height: 270px;
  left: 15%;
  top: 30px;
  background: #FFFFFF;
  border: 1px solid lightgrey;
}

.detail-upper {
  margin-top: 10px;
  margin-left: 10px;
}

.detail-lower {
  font-size: 14px;
}

.detail-name {
  font-size: 30px;
  font-weight: bold;
}

.star {
  width: 20px;
  height: 20px;
}

.detail-icon-address, .detail-icon-phone, .detail-icon-website {
  display: flex;
  margin-top: 7px;
  margin-left: 7px;
}

.fa-address-card-o {
  padding-top: 4px;
}
.detail-address1, .detail-address2 {
  margin-left: 10px;
  margin-right: 7px;
  font-weight: bold;
}

.detail-phone {
  margin-left: 17px;
  padding-top: 4px;
}

.detail-website {
  margin-left: 11px;
}
.show-park-image-container {
  position: relative;
  left: 30%;
  top: 35px;
  width: 450px;
  height: 260px;
}

.show-park-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.show-park-container-lower {
  width: 100%;
  height: 500px;
  display: flex;
}

.review-container {
  width: 60%;
  height: 100%;
}

.review-index {
  margin: 80px auto;
  width: 600px;
  font-family: 'Open Sans', sans-serif;
}

.review-index-item {
  display: flex;
}
.reviews-index-title {
  color: #11931e;
  font-weight: bold;
  // text-align: center;
  padding-left: 30px;
  font-size: 20px;
}

.show-lower-right {
  width: 50%;
  height: 100%;
}

.show-map {
  height: 40%;
  width: 100%;
}
.review-form {
  height: 40%;
  width:100%;
}
