.show-park-container-upper {
  background: #F5F5F5;
  height: 270px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
}


.show-park-info {
  position: relative;
  width: 325px;
  height: 270px;
  left: 100px;
  top: 30px;
  background: #FFFFFF;
  border: 1px solid lightgrey;
}

.detail-lower {
  font-size: 14px;
}

.detail-name {
  height: 60px;
  font-size: 30px;
  font-weight: bold;
}

.detail-icon-address, .detail-icon-phone, .detail-icon-website {
  display: flex;
  margin-top: 7px;
  margin-left: 7px;
}

.fa-address-card-o {

}

.detail-address1, .detail-address2 {
  margin-left: 10px;
  font-weight: bold;
}

.detail-phone {
  margin-left: 17px;
}

.detail-website {
  margin-left: 11px;
}
.show-park-image-container {
  position: relative;
  left: 200px;
  width: 700px;
  height: 300px;
}

.show-park-image {
  position: relative;
  top: 25px;
  width: 400px;
  height: 300px;
}
.show-park-container-lower {
  width: 100%;
  height: 500px;
  display: flex;
}

.review-container {
  width: 50%;
  height: 100%;
}

.show-lower-right {
  width: 50%;
  height: 100%;
}

.show-map {
  height: 50%;
  width: 100%;
}

.review-form {
  height: 50%;
  width:100%;
}
