<!DOCTYPE html>
<html>
  <head>
    <title>ParkPages</title>
    <script src="https://use.fontawesome.com/e98884b8e2.js"></script>
    <link rel="stylesheet" href="node_modules/react-star-rating/dist/css/react-star-rating.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
